body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    
    
    
}

header h1 {
    font-size: 3rem;
}
    


header nav a {
    display: flex;
    justify-content: flex-end ;
    border: 1px solid black;
    padding: 10px;
    width: 80px;
    font-size: 1.1rem;
    margin:1px;
    background-color: white;
    color: black;
    text-decoration: none;
    
}

header nav a:hover {
    background-color: black;
    color: white;
}

section .my-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


section .golden-gate {
    width: 80%;
    height: auto;
    margin: 5%;
    position: relative;

}

section {
    display: flex;
    justify-content: center;
   
}

section .golden-gate {
    margin-left: 9%;
}

.my-name {
    position: absolute;
    width: 95%;
    top: 15%;



}
section .my-name h2 {
  font-size: 2.5rem;
}


.my-name button {
    padding: 10px;
    width: 130px;
    font-size: 1.1rem;
}

main .boxes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

main.boxes, .box {
    font-size: 1.2rem;
    text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:4%;
    background-color: teal;
}

footer button {
    padding: 15px;
    width: 120px;
    color: black;
    background-color: white;
}
