body  {
  width: 100%;
  height: 100%;
  margin: 0%;

}

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto 0px;

}

header {
  width: 100%;
  padding: 1%;
  background-color:#ccb3ff;

}

header h1 {
  font-size: 3.5rem;
  font-family:'Pacifico', cursive;
  margin: 0%;
}

header nav {
  width: 70%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
}
  


  header nav a {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  width: 80px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color:black;
  background-color: white;
}


header nav a:hover{
  background-color: black;
  color: white;
}



main {
width: 100%;
padding-top: 0.5%;
display: flex;
}

.full-div {
  display: flex;
}

.main-img { 
  display: flex;
  width: 50%;
  justify-content: center;
}

.main-img img {
  max-width: 65%;
  align-self: center;
  
  display: flex;
}

.about-me {
  width: 30%;
  padding-top: 15%;
  margin-left:  3%;
  font-size: 1.2rem;
  font-family: cursive;

}

main button{
  padding: 10px;
  width: 120px;
  color: black;
  background-color: white;
  font-family: cursive;
  
}


main button:hover {
  color:white;
  background-color: black;
}

section .flex-img {
  width: 95%;
  margin: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  
}

 .box {
  /* width: 20%; */
  /* height: 300px; */
  margin: 30px 1%;
  text-align: center;
  font-family:'Pacifico', cursive;
}


footer {
  width: 100%;
  margin-top: 2%;
  padding: 4%;
  display: flex;
  background-color:#b3ffff ;
  align-items: center;
  flex-direction: column;
 
}

footer button {
  padding: 15px;
  width: 140px;
  font-size: 1.rem;
  font-family:cursive;
  background-color: white;
  color: black;
}

footer h3 {
  font-size: 1.2rem;
  font-family:'Pacifico', cursive;
}

footer button:hover {
background-color: black;
color: white;
}